<script type="module">
  // Adding this script to the footer is a workaround since addin to the _includes/google-analytics.html didn't work
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.23.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.23.0/firebase-analytics.js";

  const firebaseConfig = {
    apiKey: "AIzaSyAq3HFy_UFk9su9VQkcqMP8a67T6vldqa4",
    authDomain: "codesilva-github-io.firebaseapp.com",
    projectId: "codesilva-github-io",
    storageBucket: "codesilva-github-io.appspot.com",
    messagingSenderId: "500276742248",
    appId: "1:500276742248:web:5fdf5b68f5b22dffd1d3dd",
    measurementId: "G-S9806QBHHJ"
  };

  if (window.location.hostname !== 'localhost') {
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  }
</script>

<footer class="site-footer h-card" style="padding-bottom: 10px;">
  <data class="u-url" href="/"></data>

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {%- for entry in site.minima.social_links -%}
          <li>
            <a href="{{ entry.user_url }}" target="_blank">
              <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#{{ entry.platform }}"></use>
              </svg> <span class="username">{{ entry.username }}</span>
            </a>
          </li>
          {%- endfor -%}

          <li><a href="https://github.com/geeksilva97" target="_blank">
              <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg> <span class="username">geeksilva97</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>

  <div style="text-align: center;">
    &copy; {{ site.title }} - {{ site.time | date: '%Y' }}
  </div>
</footer>
