.grid {
  display: flex;
  flex-direction: column;

  .row {
    width: 100%;
    display: flex;
    border: 1px solid white;

    .cell {
      flex: 1;
      height: 30px;
      width: 30px;
      overflow: hidden;

      &:not(:last-child) {
        border-right: 1px solid white;
      }
    }
  }
}

.roomba {
  display: inline-block;

  &.down {
    transform: rotate(180deg);
  }

  &.left {
    transform: rotate(-90deg);
  }

  &.right {
    transform: rotate(90deg);
  }
}
