.grid {
  display: flex;
  flex-direction: column;

  .row {
    width: 100%;
    display: flex;
    border: 1px solid white;

    .cell {
      flex: 1;
      border: 1px solid white;
      height: 30px;
      width: 30px;
      overflow: hidden;
    }
  }
}
